.slider {
    padding: 0;
    margin: 0;
}

/* Arrows */
.slick-prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    cursor: w-resize;
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
    z-index: 1;

    @media (max-width: 640px) {
        top: 50%;
        width: 10px;
        height: 15px;
        background: url(left.svg);
    }
}

.slick-next {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    cursor: e-resize;
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
    z-index: 1;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}

button {
    padding: 0;
    margin: 0;
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
}