---
layout: default
title: "Maksim Karalevich"
preview: "/preview.png"
description: "Cross disciplinary designer"
---

{% include intro-2.html %}

<div class='wrap-screen screen-100vh bg-white top-border' id='2'>

    <div class='top-nav gap-bott-1 gap-top-1'>
		<a href='#2' class='smooth'>Maksim Karalevich</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<span class='grey'><a href='/about'>About</a></span>
    </div>
    
    {% include project-list.html %} 

    <div class='bottom-nav'>
		{% include bottom-nav.html %}
	</div>

</div>