---
layout: default
title: "Maksim Karalevich"
preview: "/preview.png"
description: "Cross disciplinary designer"
---

<div id='page' class='page fade-in hidden'>

	{% include nav-t.html %}

	{% for post in site.posts %}
		<div id='{{ post.permalink }}' class='wrapper-screen reveal'>
			<div class='wrapper'>
				<div class='wrapper-child gap-t-2'>
				{{ post.content }}
				<div class='nav-ch-c gap-t-1'>{{ post.title }}</div>
				</div>
			</div>
		</div>
	{% endfor %}

	{% include about.html %}
	{% include list.html %}
	{% include end.html %}

</div>