---
layout: default
title: "About Maksim Karaleivich"
preview: "/preview.png"
description: "Cross disciplinary designer"
---

<div class='wrapper-screen'>

	<div class='nav-t'>
		<div class='nav-ch-l'><a href='/#1'>– List</a></div>
		<div class='nav-ch-c'><a href='/#1'>Maksim Karalevich</a></div>
		<div class='nav-ch-r'><a href='/#1'>– About</a></div>
    </div>

	<div class='wrapper flex'>

		<div class='text-fixed'>Cross disciplinary designer based in Moscow. Currently work at <a href='http://strelka.com'>Strelka Institute</a> responsible for digital. I am interested in collaborations within art, culture, and education fields.<br>
			Please do not hesitate to contact if you have any questions:<br>
			<a class='no-hyphens' href='mailto:hi@karalevich.com'>hi@karalevich.com</a>,
			<a class='no-hyphens' href='http://twitter.com/mkaralevich' target='_blank'>@mkaralevich</a>,
			<a class='no-hyphens' href='http://facebook.com/mkscoo' target='_blank'>Facebook</a>.
		</div>

	</div>

	<div class='links-b'>
		{% include links-b.html %}
	</div>

</div>