<div id='about' class='popup bg-black-alpha hidden'>

	<div class='wrapper-screen-popup'>

		<div class='nav-t'>
			<div class='nav-content-between'>
				<div class='nav-ch-l'>&nbsp;</div>
				<div class='nav-ch-c'>&nbsp;</div>

				<div class='nav-ch-r more-640'><a class='close-popup'>– About</a></div>
					<div class='nav-ch-r less-640'><a class='close-popup'>(?)</a></div>
			</div>
	    </div>

		<div class='wrapper grow'>

			<div class='text-center'>Cross disciplinary designer based in Moscow. Currently work at <a href='http://strelka.com'>Strelka Institute</a> responsible for digital. I am interested in collaborations within art, culture, and education fields.<br><br>
				Please do not hesitate to contact if you have any questions:<br>
				<a class='no-hyphens' href='mailto:hi@karalevich.com'>hi@karalevich.com</a>,
				<a class='no-hyphens' href='http://twitter.com/mkaralevich' target='_blank'>@mkaralevich</a>,
				<a class='no-hyphens' href='http://facebook.com/mkscoo' target='_blank'>Facebook</a>.
			</div>

		</div>

		{% include links-b.html %}

	</div>
</div>