<div class="blurb-wrapper row-start row-bottom">
	<div class="blurb-padding-wrapper margin-l-2x margin-b-2x margin-r-2x">
		<div id="blurb" class="bubble-white elem-shadow-2 elem-no-border elem-transition--02 bubble-blurb button">
			<div class="blurb-content-wrapper">
				<p class="blurb-p blurb-p-margin text-uppercase caption">Short bio</p>
				<p class="blurb-p blurb-p-margin">Began my professional career in 2010. After starting off in print, soon moved to the digital space.</p>
				<p class="blurb-p blurb-p-margin">In 2013, I joined ONY agency, where developed Norilsk Film, an interactive web-documentary. The project won several awards such as Red Dot Award International Design Competition, Art Directors Club Russia (Gold), Awwwards Site of the Day, among others.</p>
				<p class="blurb-p blurb-p-margin">Starting 2015 I’ve been working at Strelka Institute for Media, Architecture and Design. As a Digital Art Director, I led the development of all the digital products, from initial concepts to design implementation. Most of these projects have been recognised by leading showcase platforms.</p>
				<p class="blurb-p blurb-p-margin">Currently, I work on a platform redesign of a major video game publisher as a product designer, and developing brand identity of a fashion start-up.</p>
				<p class="blurb-p blurb-p-margin">Located in Los Angeles, California.</p>
		</div>
	</div>
	</div>
</div>
<div class="blurb-bg"></div>