<div class="blurb-wrapper">
	<div id="blurb" class="col-6 bubble bubble-white elem-shadow-2 elem-no-border bubble-center elem-transition--02 bubble-blurb">
		<div class="margin-l-1x margin-t-1x	margin-r-1x margin-b-1x">
			<p class="text-small caption text-uppercase">Blurb</p>
			<p class="text-small-mobile text-small margin-t-1x">Began my professional career in 2010. After starting off in print, 		soon moved to the digital space.</p>
			<p class="margin-t-1x text-small-mobile text-small">In 2013, I joined ONY agency, where developed Norilsk Film, an interactive web-documentary. The project won several awards such as Red Dot Award International Design Competition, Art Directors Club Russia (Gold), Awwwards Site of the Day, among others.</p>
			<p class="margin-t-1x text-small-mobile text-small">Starting 2015 I’ve been working at Strelka Institute for Media, Architecture and Design. As a Digital Art Director, I led the development of all the digital products, from initial concepts to design implementation. Most of these projects have been recognised by leading showcase platforms.</p>
			<p class="margin-t-1x text-small-mobile text-small">Currently, I work on a platform redesign of a major video game publisher as a product designer, and developing brand identity of a fashion start-up.</p>
			<p class="margin-t-1x text-small-mobile text-small">Located in Los Angeles, California.</p>
		</div>
	</div>
</div>