<div class='content no-hyphens grey'>
		<a href='https://www.behance.net/scoombrija' target='blank'>Be</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href='http://vimeo.com/mkscoo' target='blank'>Vimeo</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href='http://instagram.com/mkaralevich' target='blank'>Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href='http://mkaralevich.tumblr.com' target='blank'>W&#8288;-&#8288;I&#8288;-&#8288;P</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href='http://4dmaksim.tumblr.com' target='blank'>4DMaksim</a>
</div>