<div class="margin-t-1x credits-block clicked text-small caption">
	<div class="credits-button">
		<span class="button-toggle">+</span> Credits
	</div>

	<div class="credits-content elem-fade-in size elem-is-hidden">
		<div class="row-start row-clear-mobile">
				<div class="col-2 text-thin">Production</div>
				<div class="col-6">{{page.production}}</div>
			</div>

			<div class="row-start row-clear-mobile margin-t-05x">
				<div class="col-2 text-thin">Role</div>
				<div class="col-6">{{page.role}}</div>
			</div>

			<div class="row-start row-clear-mobile margin-t-05x">
				<div class="col-2 text-thin">Links</div>
				<div class="col-6">{{page.links}}</div>
			</div>
	</div>

</div>


<!--


<div class="col-8 margin-t-2x text-small caption">
	<div class="project-footer elem-is-hidden elem-fade-in row-start row-clear-mobile margin-b-2x bubble bubble-small elem-no-border bubble-grey">

		<div class="col-big col-clear-mobile margin-b-1x padding-r-1x">

			<div class="row-start row-clear-mobile margin-t-05x">
				<div class="col-2">Production:</div>
				<div class="col-6">{{page.production}}</div>
			</div>

			<div class="row-start row-clear-mobile margin-t-05x">
				<div class="col-2">Role:</div>
				<div class="col-6">{{page.role}}</div>
			</div>

			<div class="row-start row-clear-mobile margin-t-05x">
				<div class="col-2">Links:</div>
				<div class="col-6">{{page.links}}</div>
			</div>

		</div>
	</div>
	<div class="flex">
		<div class="credits-block tag">
			<span class="button-toggle">+</span> Credits
		</div>
	</div>
</div>


-->