<div class="margin-t-2x credits-block text-small caption credits-button">
		<span class="button-toggle">+</span> Credits
</div>


<div class="margin-t-2x credits-block text-small caption">

	<div class="credits-content elem-fade-in elem-is-hidden">
		<div class="row-start row-clear-mobile">
				<div class="col-2 text-thin">Production</div>
				<div class="col-6">{{page.production}}</div>
			</div>

			<div class="row-start row-clear-mobile margin-t-05x">
				<div class="col-2 text-thin">Role</div>
				<div class="col-6">{{page.role}}</div>
			</div>

			<div class="row-start row-clear-mobile margin-t-05x">
				<div class="col-2 text-thin">Links</div>
				<div class="col-6">{{page.links}}</div>
			</div>
	</div>

</div>