
 <head>
    <meta charset="utf-8">
    <meta name="Maksim Karalevich, Digital Art Director">
    <meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="maksim karalevich, visual design, graphic design, web, interactive">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta property="og:title"   content="Maksim Karalevich, Digital Art Director" />
    <meta property="og:url"     content="http://karalevich.com" />
    <meta property="og:image"   content="http://karalevich.com/cover.png">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="icon" href="/icon.png?v=2" />

    <!-- I am just curious -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114680061-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114680061-1');
    </script>

    <!-- Lazyload.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.10.0/lazyload.min.js"></script>

  </head>

