<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon-arrows">
            <g>
                <rect id="bbox" opacity="0.5" x="0" y="0" width="32" height="32"></rect>
                <g id="arrow" transform="translate(2.000000, 5.000000)" stroke="#262626">
                    <polyline id="Path-2" points="0 17 6 23 12 17"></polyline>
                    <path d="M6,23 L6,0" id="Path-3"></path>
                </g>
                <g id="arrow" transform="translate(25.000000, 16.500000) rotate(180.000000) translate(-25.000000, -16.500000) translate(19.000000, 5.000000)" stroke="#262626">
                    <polyline id="Path-2" points="-3.55271368e-15 17 6 23 12 17"></polyline>
                    <path d="M6,23 L6,0" id="Path-3"></path>
                </g>
            </g>
        </g>
    </g>
</svg>