<div id='idle' class='popup bg-black-alpha fade-in'>

	<div class='wrapper-screen-popup'>

		<div class='wrapper margin-0'>

			<svg class='rotate' version="1.1"
				 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
				 x="0px" y="0px" width="763.1px" height="323.6px" viewBox="0 0 763.1 323.6" style="enable-background:new 0 0 763.1 323.6;"
				 xml:space="preserve">
			<style type="text/css">
				.st0{fill:#FFFFFF;}
			</style>
			<defs>
			</defs>
			<g id="XMLID_15_">
				<path id="XMLID_18_" class="st0" d="M0,0h62.8l93.1,273.6L248.3,0h62.4v323.6h-41.9v-191c0-6.6,0.1-17.5,0.4-32.8
					c0.3-15.3,0.4-31.6,0.4-49.1l-92.4,273h-43.4l-93.3-273v9.9c0,7.9,0.2,20,0.7,36.2c0.4,16.2,0.7,28.2,0.7,35.8v191H0V0z"/>
				<path id="XMLID_16_" class="st0" d="M494.3,0H537v158.4L698.9,0h61.3L621.9,130.6l141.1,193h-57.4L589.8,161L537,210.8v112.8h-42.7
					V0z"/>
			</g>
			</svg>

			<svg class='rotate-2' version="1.1"
				 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
				 x="0px" y="0px" width="763.1px" height="323.6px" viewBox="0 0 763.1 323.6" style="enable-background:new 0 0 763.1 323.6;"
				 xml:space="preserve">
			<style type="text/css">
				.st0{fill:#FFFFFF;}
			</style>
			<defs>
			</defs>
			<g id="XMLID_15_">
				<path id="XMLID_18_" class="st0" d="M763.1,323.6h-62.8L607.2,50l-92.4,273.6h-62.4V0l41.9,0v191c0,6.6-0.1,17.5-0.4,32.8
					c-0.3,15.3-0.4,31.6-0.4,49.1L585.8,0l43.4,0l93.3,273v-9.9c0-7.9-0.2-20-0.7-36.2c-0.4-16.2-0.7-28.2-0.7-35.8V0l41.9,0V323.6z"/>
				<path id="XMLID_16_" class="st0" d="M268.8,323.6h-42.7V165.2L64.2,323.6H2.9L141.1,193L0,0l57.4,0l116,162.6l52.8-49.8V0l42.7,0
					V323.6z"/>
			</g>
			</svg>

		</div>

	</div>
</div>