<div class='wrap-screen screen-80vh'></div>
<div class='wrap-screen screen-80vh bg-white-black fixed'>

	<div class='wrap-1280 intro-fade'>

		<div class='intro-more-640 block flex'>

			<div>
				<div class='text-left'><a href='/the-m-all'>Taganskaya ATS</a></div>
				<div class='text-right align-right grey gap-bott-1-5'><a href='http://ats.rocks' target='_blank'>Visit microsite ↗</a></div>
			</div>
			
			<div class='med-block flex'>

				<iframe class='fluid-video fluid js-fluid' src="https://player.vimeo.com/video/163718530?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="640" height="385" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

			</div>

		</div>

		<div class='intro-less-640 block flex'>

			<div class='med-block flex'>
			<a class='' href='/the-m-all'><img src='/images/the-m-all/cover.gif'></a>
			</div>

		</div>

	</div>

</div>