<div class='links-b'>
	<div class='nav-content-center no-hyphens'>
		<a class='nav-ch-c gap-r-1' href='https://www.behance.net/scoombrija' target='blank'>Be</a>
		<a class='nav-ch-c gap-r-1' href='http://vimeo.com/mkscoo' target='blank'>Vimeo</a>
		<a class='nav-ch-c gap-r-1' href='http://instagram.com/mkaralevich' target='blank'>Instagram</a>
		<a class='nav-ch-c gap-r-1' href='http://mkaralevich.tumblr.com' target='blank'>W&#8288;-&#8288;I&#8288;-&#8288;P</a>
		<a class='nav-ch-c gap-r-1' href='http://4dmaksim.tumblr.com' target='blank'>4DMaksim</a>
	</div>
</div>