<div id='list' class='popup bg-white-alpha hidden'>

  <div class='wrapper-screen'>

    <div class='nav-t'>
      <div class='nav-content-between'>

        <div class='nav-ch-l more-640'><a class='close-popup'>List –</a></div>
          <div class='nav-ch-l less-640'><a class='close-popup'>=</a></div>

        <div class='nav-ch-c'>&nbsp;</div>
        <div class='nav-ch-r'>&nbsp;</div>
      </div>
    </div>

    <div class='wrapper overflow-visible'>

      <ul class='project-list'>
        {% for post in site.posts %}
          <li class='project-list-item'>
            <a class='project-list-link' href='#{{ post.permalink }}'>
              <img class="project-list-link-preview" src='{{ post.preview }}'>
              <span class=''>{{ post.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>

  </div>

</div>