
<div class="after-project-list row-center col-v-center">

		<div class="col-10 row-to-column margin-t-6x margin-b-6x elem-in-viewport elem-transition--05">
			<div class="text-small">More Projects</div>
			<ul class="text-thin margin-t-1x margin-l-2x">
			{% for post in site.posts %}
				<a class="a-no-line" href="{{ post.permalink }}">
					<li class="project">
						<span>{{ post.title }}</span>
						<span class="margin-l-1x text-small text-thin project-desc opacity">{{ post.caption }}</span>
					</li>
				</a>
			{% endfor %}
			</ul>
		</div>

</div>