<div class="row-center">
<ul id="project-list" class="col-10 margin-t-6x elem-hide elem-fade-in text-small">
{% for post in site.posts %}
	<a class="a-no-line text-grey" href="{{ post.permalink }}">
		<li class="bubble-project elem-deep-hover elem-transition--02">
			<div class="col-flex">
				<div class="row-between">
					<p class="project-title elem-opacity--04 elem-transition--02">{{ post.title }}</p>
					<p class="text-thin text-grey">{{ post.caption }}</p>
				</div>
					<p class="text-thin text-grey">{{ post.tags }}</p>
			</div>
		</li>
	</a>
	{% endfor %}
</ul>
</div>