<div id="wd__guests-screen" class="wd__display--none wd__flexbox--center">

  <ul class="wd__guests--col wd__desc">
    <li>Denis&nbsp;Ilyashov & Anya&nbsp;Ilyashova</li>
    <li>Olya&nbsp;Schetinina & Dima&nbsp;Razhev</li>
    <li>Sergey&nbsp;Bespanski & girlfriend</li>
    <li>Daria&nbsp;Shulga & Yanis</li>
    <li>Olya&nbsp;Polishuk</li>
    <li>Regina&nbsp;Kiri</li>
    <li>Dima&nbsp;Melov</li>
    <li>Alina Burlaka</li>
  </ul>
  <ul class="wd__guests--col wd__desc">
    <li>Olya&nbsp;Pankova & Artem&nbsp;Zamashnoy</li>
    <li>Alisa&nbsp;Velieva & Andrew&nbsp;Roschevkin</li>
    <li>Nastya&nbsp;Kholmova & Alexey&nbsp;Kholmov</li>
    <li>Marina&nbsp;Zakinyan & Vlad&nbsp;Likh</li>
    <li>Andrey&nbsp;Belik</li>
    <li>Sasha&nbsp;Bessonova</li>
    <li>Evgenia Vatamanovskaya</li>
    <li>Anna Soboleva</li>
  </ul>

</div>