<div id="wd-info" class="wd-wrapper">

  <div class="wd-menu">
    <div id="wd-guests" class="wd-menu-item wd-h2 wd-menu-item--active">Guests</div>
    <div id="wd-where" class="wd-menu-item wd-h2">Where</div>
    <div id="wd-timing" class="wd-menu-item wd-h2">Timing</div>
    <div id="wd-lookbook" class="wd-menu-item wd-h2">Lookbook</div>
  </div>

  <div id="wd-info--content" class="wd-flexbox--center">

    <div class="wd-guests wd-guests--content wd-flexbox--center">

      <ul class="wd-guests--col wd-desc">
        <li>Denis Ilyashov & Anya Ilyashova</li>
        <li>Olya Schetinina & Dima Razhev</li>
        <li>Sergey Bespanski & girlfriend</li>
        <li>Marina Zakinyan & Vlad Likh</li>
        <li>Daria Shulga & Yanis</li>
        <li>Regina Kiri</li>
      </ul>
      <ul class="wd-guests--col wd-desc">
        <li>Olya Pankova & Artem Zamashnoy</li>
        <li>Alisa Velieva & Andrew Roschevkin</li>
        <li>Nastya Kholmova & Alexey Kholmov</li>
        <li>Olya Polishuk</li>
        <li>Andrey Belik</li>
        <li>Sasha Bessonnova</li>
      </ul>

    </div>

    <div class="wd-display--none wd-where wd-flexbox--center">
      <div class="wd-desc">
      Bolotov Dacha<br><br>
      Unnamed Road, Dvoryaninovo<br>
      Tula Oblast, Russia, 301005
      </div>

    </div>
    <div class="wd-display--none wd-timing">3</div>
    <div class="wd-display--none wd-lookbook">4</div>

  </div>

</div>