<div id="wd-info" class="wd-wrapper">

  <div class="wd-menu">
    <div id="wd-guests" class="wd-menu-item wd-h2 wd-menu-item--active">Guests</div>
    <div id="wd-where" class="wd-menu-item wd-h2">Where</div>
    <div id="wd-timing" class="wd-menu-item wd-h2">Timing</div>
    <div id="wd-lookbook" class="wd-menu-item wd-h2">Lookbook</div>
  </div>

  <div id="wd-info--content" class="wd-flexbox--center">

    <div class="wd-guests wd-guests--content wd-flexbox--center">

      <ul class="wd-guests--col wd-desc">
        <li>Denis&nbsp;Ilyashov & Anya&nbsp;Ilyashova</li>
        <li>Olya&nbsp;Schetinina & Dima&nbsp;Razhev</li>
        <li>Sergey&nbsp;Bespanski & girlfriend</li>
        <li>Marina&nbsp;Zakinyan & Vlad&nbsp;Likh</li>
        <li>Daria&nbsp;Shulga & Yanis</li>
        <li>Regina&nbsp;Kiri</li>
      </ul>
      <ul class="wd-guests--col wd-desc">
        <li>Olya&nbsp;Pankova & Artem&nbsp;Zamashnoy</li>
        <li>Alisa&nbsp;Velieva & Andrew&nbsp;Roschevkin</li>
        <li>Nastya&nbsp;Kholmova & Alexey&nbsp;Kholmov</li>
        <li>Olya&nbsp;Polishuk</li>
        <li>Andrey&nbsp;Belik</li>
        <li>Sasha&nbsp;Bessonnova</li>
      </ul>

    </div>

    <div class="wd-display--none wd-where wd-flexbox--center">
      <div class="wd-desc">
      Bolotov Dacha<br><br>
      Unnamed Road, Dvoryaninovo<br>
      Tula Oblast, Russia, 301005
      </div>

    </div>
    <div class="wd-display--none wd-timing">3</div>
    <div class="wd-display--none wd-lookbook">4</div>

  </div>

</div>