<div id="wd-open" class="wd-wrapper">

  <div class="wd-open--button wd-open--size wd-envelope fade-in wd-h2">
    <span>Open invitation</span>
  </div>

  <div class="wd-open--size wd-envelope wd-envelope--1"></div>
  <div class="wd-open--size wd-envelope wd-envelope--2"></div>
  <div class="wd-open--size wd-envelope wd-envelope--3"></div>
  <div class="wd-open--size wd-envelope wd-envelope--4"></div>
  <div class="wd-open--size wd-envelope wd-envelope--5"></div>
  <div class="wd-open--size wd-envelope wd-envelope--6"></div>

</div>