@import 'variables';

/* BASIC */

iframe, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, li, figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
    hyphens: none;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: $c-black;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;

    @media (max-width: $screen-mobile) {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: .2px;
    }

    @media (min-width: $screen-desktop-big) {
        font-size: 34px;
        line-height: 50px;

    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

::selection {
	background: #ccc;
}

::moz-selection {
	background: #ccc;
}

img, svg, video {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.25s ease;
    border: none;
}

iframe {
    width: 100%;
    height: auto;
    display: block;
}