/* BASIC */

iframe, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, li, figure {
  margin: 0;
  padding: 0;
}

.page-content {
    min-height: 100%;
    height: auto;
    overflow: hidden;
}

html,
body,
.page-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    animation: fadein .5s;
    -moz-animation: fadein .5s;
    -webkit-animation: fadein .5s;
    -o-animation: fadein .5s;

        @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
        @-moz-keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
        @-webkit-keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
        @-o-keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

::selection {
	background: #ccc;
}

::moz-selection {
	background: #ccc;
}

img, iframe {
    width: 100%;
    height: 100%;
    display: block;
}





/* LINKS */

a {
	color: #333333;
    text-decoration: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s; 
    -moz-transition-duration: 0.2s; 
}

a:hover {
	color: #000;
	text-decoration: none;
}




.bg-grey {
    background: #fafafa;
}




/* WRAPPERS */

.page {
    position: relative;
}

.wrapper-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 100%;
    max-width: 2200px;
    margin: 120px;

    @media (max-width: 1080px) {
        margin: 40px;
    }

    @media (max-width: 640px) {
        margin: 0px;
    }
}

.parent-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.parent-center:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.child-center {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fluid {
    margin: auto;
    flex: 0 0 auto;
}

.flex {
    display: flex;
}




/* NAVIGATION */

.nav-t {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
}

.nav-b {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
}

.nav-content {
    display: flex;
    justify-content: space-between;   
}

.nav-ch-l {
    text-align: left;
    width: 20%;
}

.nav-ch-c {
    text-align: center;
}

.nav-ch-r {
    text-align: right;
    width: 20%;
}




/* PROJECT LIST */

.list-item {
    position: relative;
}

.project-list {
    list-style: none;
    padding: 0;
    margin-top: 2px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-link {
        display: block;

        &-preview {
        	z-index: 1;
        }
    }

    &-item {
        display: block;
        position: relative;
        width: 100%;
        padding-top: 3px;
        line-height: 44px;
        margin-top: -2px;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-color: #262626;
    
        img {
            position: absolute;
            display: none;
            margin-top: -3px;
            max-height: 330px;
            max-width: 330px;
            z-index: 2;

            @media (max-width: 640px) {
                display: none!important;
            }
        }
    }
}