/*@font-face {
    font-family: 'Gerbera';src: url('../fonts/Gerbera/Gerbera.eot');
    src: url('../fonts/Gerbera/Gerbera.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gerbera/Gerbera.woff2') format('woff2'),
    url('../fonts/Gerbera/Gerbera.woff') format('woff'),
    url('../fonts/Gerbera/Gerbera.ttf') format('truetype');
}

@font-face {
    font-family: 'Gerbera_L';src: url('../fonts/Gerbera/Gerbera_L.eot');
    src: url('../fonts/Gerbera/Gerbera_L.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gerbera/Gerbera_L.woff2') format('woff2'),
    url('../fonts/Gerbera/Gerbera_L.woff') format('woff'),
    url('../fonts/Gerbera/Gerbera_L.ttf') format('truetype');
}*/

iframe, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, li, figure {
  margin: 0;
  padding: 0;
}

.page-content {
    min-height: 100%;
    height: auto;
    overflow: hidden;
}

html,
body,
.page-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    animation: fadein 1.2s;
    -moz-animation: fadein 1.2s;
    -webkit-animation: fadein 1.2s;
    -o-animation: fadein 1.2s;

        @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
        @-moz-keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
        @-webkit-keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
        @-o-keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

::selection {
	background: #ccc;
}

::moz-selection {
	background: #ccc;
}





/* LINKS */

a {
	color: #333333;
    text-decoration: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s; 
    -moz-transition-duration: 0.2s; 
}

a:hover {
	color: #000;
	text-decoration: none;
}




/* WRAPPERS */

            .wrapper-screen {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                /*left: 50%;
                top: 50%;
                transform: translateX(-50%);
                transform: translateY(-50%);*/
                height: 100vh;
            }

            .wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: auto;
                width: 100%;
                max-width: 800px;
                margin: 0 auto;
            }

            .page {
                position: relative;
            }

.wrap-screen {
    position: relative;
    display: flex;
    flex-direction: column;
	width: 100vw;
}

.wrap-1280 {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 640px) {
        padding: 0 15px;
    }
}

.wrap-1600 {
	overflow: auto;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
}

.parent-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.parent-center:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.child-center {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}



/* NAVIGATION */


.nav-t {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
}

.nav-content {
    display: flex;
    justify-content: space-between;   
}

.nav-b {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
}

.nav-ch-l {
    text-align: left;
    width: 20%;
}

.nav-ch-c {
    text-align: center;
}

.nav-ch-r {
    text-align: right;
    width: 20%;
}




/* INTRO */

.flex {
    display: flex;
}

.block {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 50px 0;

  @media (max-width: 640px) {
            padding: 0;
        }
}

.fluid {
  margin: auto;
  flex: 0 0 auto;
}

.intro-more-640 {

     @media (max-width: 640px) {
            display: none;
        }
}

.intro-less-640 {
    display: none;

    @media (max-width: 640px) {
            width: 100%;
            height: calc(100vh - 150px);
            max-width: 233px;
            display: flex;
            margin: 0 auto;
        }
}

.fixed {
    top: 0;
    left: 0;
    position: fixed;
}

.z-1 {
    z-index: 1;
}

.intro-fade {
    opacity: 1;
}



/* GAPS */

.gap-0 {
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

.gap-bott-1 {
    padding-bottom: 40px;

    @media (max-width: 640px) {
        padding-bottom: 35px;
    }
}

.gap-bott-1-5 {
    padding-bottom: 20px;
}

.gap-bott-2 {
    padding-bottom: 140px;

    @media (max-width: 640px) {
        padding-bottom: 60px;
    }
}

.gap-bott-3 {
    padding-bottom: 300px;

    @media (max-width: 640px) {
        padding-bottom: 140px;
    }
}

.gap-top-1 {
    padding-top: 50px;

    @media (max-width: 640px) {
        padding-top: 35px;
    }
}

.gap-bott-1-5 {
    padding-top: 20px;
}

.gap-top-2 {
    padding-top: 140px;

    @media (max-width: 640px) {
        padding-top: 60px;
    }
}

.gap-top-3 {
    padding-top: 300px;

    @media (max-width: 640px) {
        padding-top: 140px;
    }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  float: left;
}

.overflow-visible {
    overflow: visible;
}





/* PROJECT LIST */

.list-item {
    position: relative;
}

.project-list {
    list-style: none;
    padding: 0;
    margin-top: 2px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-link {
        display: block;

        &-preview {
        	z-index: 1;
        }
    }

    &-item {
        display: block;
        position: relative;
        width: 100%;
        padding-top: 3px;
        line-height: 44px;
        margin-top: -2px;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-color: #262626;
    
        img {
            position: absolute;
            display: none;
            margin-top: -3px;
            max-height: 330px;
            max-width: 330px;
            z-index: 2;

            @media (max-width: 640px) {
                display: none!important;
            }
        }
    }
}





/* ICONS */

.load {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	position: relative;
	pointer-events: none;
	display: none;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;

    @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
    @-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
    @-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
    @-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 1;
    /*width: 65%;*/

    @media (max-width: 640px) {
        width: 80%;
    }
}