.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s ease alternate infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.bg-black {
  background-color: #E5E5E5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.grey {
  background-color: #CCCCCC;
}

/* MARGINS */

$space-x: 20px;

.margin-t-8x {
  margin-top: $space-x * 8;
}

.margin-t-6x {
  margin-top: $space-x * 6;
}

.margin-t-4x {
  margin-top: $space-x * 4;
}

.margin-t-2x {
  margin-top: $space-x * 2;
}

.margin-t-1x {
  margin-top: $space-x;
}

.margin-t-05x {
 margin-top: $space-x / 2;
}

.margin-r-2x {
  margin-right: $space-x * 2;
}

.margin-r-1x {
  margin-right: $space-x;
}

.margin-b-6x {
  margin-bottom: $space-x * 6;
}

.margin-b-4x {
  margin-bottom: $space-x * 4;
}

.margin-b-2x {
  margin-bottom: $space-x * 2;
}

.margin-b-1x {
  margin-bottom: $space-x;
}

.margin-b-05x {
  margin-bottom: $space-x / 2;
}

.margin-l-2x {
  margin-left: $space-x * 2;
}

.margin-l-1x {
  margin-left: $space-x;
}

.margin-l-05x {
  margin-left: $space-x / 2;
}


.menu {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 80px);
  z-index: 1;
}

/*.p-intro {
  position: fixed;
  top: 100px;
}*/

.page {
  transition: all 0.5s ease;
  position: relative;
}

.opacity {
  opacity: 1!important;
}

.controls {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  /*cursor: ns-resize;*/
}

#signature {
  margin-top: -$space-x * 8;
}

#icon-sort {
  margin-top: -52px;
  margin-bottom: 20px;
  cursor: pointer;
}


/* COLUMN ATTRIBUTES */

.col-viewport {
  transform: scale(.96);
  opacity: 0;
}

.project-hover {
  /*transform: scale(.995);*/
  opacity: .9;
}

.col-fixed {
  position: fixed;
}

/* COLUMN CONTAINERS */

.row-between {
  display: flex;
  justify-content: space-between;
}

.row-start {
  display: flex;
  justify-content: start;
}

.row-center {
  display: flex;
  justify-content: center;
}

.row-end {
  display: flex;
  justify-content: flex-end;
}

.col-flex {
  display: flex;
  flex-direction: column;
  height: fit-content;
  transition: all 0.5s ease;
}


/* COLUMN WIDTH */

.col-half {
  width: 50%;
}

.col-big {
  width: 1360px;
}

.col-16 {
  width: 1360px;
}
.col-12 {
  width: 1016px;
}
.col-10 {
  width: 844px;
}
.col-8  {
  width: 670px;
}
.col-7  {
  width: 585px;
}
.col-6  {
  width: 500px;
}
.col-4 {
  width: 327px;
}
.col-2 {
  width: 155px;
}

/* TEXT STYLES */

$c-black: #262626;
$c-grey: #CCCCCC;
$c-transp: rgba(0, 0, 0, 0);

a {
  color: $c-black;
  text-decoration: none;
  width: fit-content;
  /*border-bottom: 1px solid $c-transp;*/
  /*transition: border-color 0.5s ease;*/
}

a:hover {
  color: #000;
  /*border-bottom: 1px solid $c-black;*/
}

.a-has-line {
  border-bottom: 1px solid $c-grey;
}

.a-has-line:hover {
  border-bottom: 1px solid $c-black;
  transition: border-color 0.5s ease;
}

.text-small {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0px;
}

.text-small--thin {
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.project-desc {
  opacity: 0;
  transition: all 0.2s ease;
}