<!DOCTYPE html>
<html>

{% include head.html %}

    <body>

    <div class="page-content z-1">
        {{ content }}
    </div>

        <div class='wrap-screen screen-100vh bg-white top-border'>

            <div class='top-nav gap-bott-1 gap-top-1'>
                <a href='/#2'>Maksim Karalevich</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class='grey'><a href='/about'>About</a></span>
            </div>

            {% include project-list.html %} 

            <div class='bottom-nav'>
            {% include bottom-nav.html %}
            </div>

        </div>

    {% include script.html %}

    </body>

</html>